<?xml version='1.0' encoding='utf-8'?>
<widget id="gli2012.calculator.app" version="0.6.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GLI-2012</name>
    <description>GLI-2012 calculator application</description>
    <author email="info@cphcrd.org" href="http://www.cphcrd.org/">CPHCRD</author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="*" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <icon src="icons/Icon-256.png" />
    <platform name="amazon-fireos">
        <icon density="ldpi" src="icons/Android/Icon-36.png" />
        <icon density="mdpi" src="icons/Android/Icon-48.png" />
        <icon density="hdpi" src="icons/Android/Icon-72.png" />
        <icon density="xhdpi" src="icons/Android/Icon-96.png" />
        <icon density="xxhdpi" src="icons/Android/Icon-144.png" />
        <icon density="xxxhdpi" src="icons/Android/Icon-192.png" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="icons/Android/Icon-36.png" />
        <icon density="mdpi" src="icons/Android/Icon-48.png" />
        <icon density="hdpi" src="icons/Android/Icon-72.png" />
        <icon density="xhdpi" src="icons/Android/Icon-96.png" />
        <icon density="xxhdpi" src="icons/Android/Icon-144.png" />
        <icon density="xxxhdpi" src="icons/Android/Icon-192.png" />
    </platform>
    <platform name="firefoxos">
        <icon height="60" src="icons/iOS/Icon-60.png" width="60" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="40" src="icons/iOS/Icon-40.png" width="40" />
        <icon height="180" src="icons/iOS/Icon-180.png" width="180" />
        <icon height="60" src="icons/iOS/Icon-60.png" width="60" />
        <icon height="120" src="icons/iOS/Icon-120.png" width="120" />
        <icon height="100" src="icons/iOS/Icon-100.png" width="100" />
        <icon height="76" src="icons/iOS/Icon-76.png" width="76" />
        <icon height="152" src="icons/iOS/Icon-152.png" width="152" />
        <icon height="57" src="icons/iOS/Icon-57.png" width="57" />
        <icon height="114" src="icons/iOS/Icon-114.png" width="114" />
        <icon height="72" src="icons/iOS/Icon-72.png" width="72" />
        <icon height="144" src="icons/iOS/Icon-144.png" width="144" />
        <icon height="196" src="icons/iOS/Icon-196.png" width="256" />
        <icon height="256" src="icons/iOS/Icon-256.png" width="256" />
        <icon height="512" src="icons/iOS/Icon-512.png" width="512" />
        <icon height="1024" src="icons/iOS/Icon-1024.png" width="1024" />
    </platform>
    <platform name="tizen">
        <icon height="128" src="icons/Icon-128.png" width="128" />
    </platform>
    <preference name="phonegap-version" value="cli-8.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="android" spec="~7.0.0" />
    <engine name="ios" spec="^4.5.4" />
</widget>
